body {
  width: 75vw;
  margin: 3vh auto;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  background-color: rgb(228, 231, 236);
  /* border: 3px solid black;  */
  box-shadow: 5px 5px 70px white;
}
h1 {
  font-size: 3vw;
}
.colour {
  color: rgb(243, 124, 26);
}
.flex {
  display: flex;
  /* background-image: linear-gradient(rgb(251, 248, 248) , rgb(202, 190, 190)); */
  border-radius: 25px;
}
.item {
  width: 30vw;
  padding: 6.9%  0% 6.9% 6.9% ;
}
img {
  width: 100%;
}
p {
  font-size: 1.5vw;
  margin: 35px 0 50px;
  color: rgb(140, 135, 135);
}
a {
  text-decoration: none;
  font-size: 1vw;
  background-image: linear-gradient(tomato, rgb(247, 120, 57));
  border-radius: 30px;
  padding: 19px 30px;
  font-weight: 600;
  color: rgb(255, 254, 254);
}
h2 {
  font-size: 1.7vw;
}
.i2 {
  background-image: url(7.png);
  background-size: contain;
  height: fit-content;
  margin-bottom: 10vh;
}
#i1 {
  width: 40vw;
}
.hero {
  width: 40vw;
  
}
#i3 {
  width: 45vw;
  padding: 0 0vh 0 0vh;
}
.center {
  text-align: center;
}
#recipies {
  width: 43vw;
  margin: auto;
}
.normal {
  font-size:1vw;
  font-weight: 600;
}
.item4 {
  width: 43%;
  padding: 2vw 2vw;
  box-shadow: 5px 5px 50px grey;
  margin: 0 2vh;
  border-radius: 1.5vw;
}

#yy {
  width: 70vw;

  height: 70vh;
  
  margin: 0 auto 7vh;
}
.food {
  width: 100%;
  border-radius: 2em;
  height: 70%;
}
#data {
  display: flex;
  justify-content: space-between;
  padding: 15px 10vw;
  box-shadow: 5px 5px 40px grey;
  margin-bottom: 7vh;
  border-radius: 20px;
}
.p {
  margin: 0 0 5vh;
}
#data h1 {
  margin: 7vh 0 0 0;
}
footer {
  background-image: linear-gradient(rgb(15, 15, 16), rgb(83, 72, 83));
  padding: 3vh 0;
  color: rgb(140, 149, 157);
  margin-bottom: 10px;
  border-radius: 15px;
}
#girl {
  width: 25vw;
}
#first {
  margin-bottom: 7vh;
}
#second
{
  margin-bottom: 7vh;
}
